@layout('layout/admin')

@section('content')
  <section class="container">
    @include('partials/error_alert')
    @include('partials/success_alert')
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <h1>Hello World</h1>
      </div>
    </div>
  </section>
@endsection
